---
import iam from "@/components/assets/iam.jpg";
import testi from "@/components/assets/testimonia.png";
---

<div
  class="slider max-w-[95%] sm:max-w-[80%] mx-auto landing-section"
  data-header-color="#0F7261"
>
  <h1
    class="text-3xl md:text-4xl lg:text-5xl text-primary font-bold text-center mb-10"
  >
    NUESTRAS COMPAÑIAS
  </h1>
  <hr class="w-52 mx-auto border-t border-gray-300 mb-32" />
  <div class="slide-track">
    <div class="slide">
      <div class="content">
        <img
          src="https://www.fedpat.com.ar/wp-content/uploads/2024/04/Isologo-Azul-FP.png"
          alt=""
          class="scale-100"
        />
        <p>FEDERACION PATRONAL</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://acg.com.ar/wp-content/uploads/2022/09/acg_logo-1.png"
          alt=""
          class="scale-100"
        />
        <p>ACG</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.seguros.com/wp-content/uploads/chubb_v4-1.png"
          alt=""
          class="scale-100"
        />
        <p>CHUBB</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://tiempodeseguros.com/storage/app/media/fianzas%20y%20credito.png"
          alt=""
          class="scale-110"
        />
        <p>FIANZAS Y CREDITO</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://play-lh.googleusercontent.com/jpttE_U6W4e_ltsyqeVNLI_AubJhuLRNC7rTVN-HdCGfkBi1SCJrZYbpBo2uXR3FZD4=w600-h300-pc0xffffff-pd"
          alt=""
          class="scale-100"
        />
        <p>LA HOLANDO</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img src={iam.src} alt="" class="scale-100" />
        <p>INSTITUTO ASEGURADOR MERCANTIL</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://cofatuc.org.ar/wordpress/wp-content/uploads/2022/08/provincia-art-portada.jpg"
          alt=""
          class="scale-110"
        />
        <p>PROVINCIA ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.todoriesgo.com.ar/wp-content/uploads/2020/09/provincia-seguros-expoagro.png"
          alt=""
          class="scale-100"
        />
        <p>PROVINCIA SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://segurodebici.com.ar/wp-content/uploads/2021/05/Prudencia-Seguros.png"
          alt=""
          class="scale-100"
        />
        <p>PRUDENCIA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://freseniusmedicalcare.com.ar/wp-content/uploads/2024/05/sancor-seguros-ceibo-proteccion-completa-para-tu-tranquilidad.png"
          alt=""
          class="scale-100"
        />
        <p>SANCOR SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img src={testi.src} alt="" class="scale-110" />
        <p>TESTIMONIO SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://100seguro.com.ar/wp-content/uploads/2021/10/allianz-1.jpg"
          alt=""
          class="scale-100"
        />
        <p>ALLIANZ</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://reclamodeterceros.com/wp-content/uploads/2023/04/Mercantil-Andina-Reclamo-de-Terceros-1-1.webp"
          alt=""
          class="scale-100"
        />
        <p>MERCANTIL ANDINA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://norteenlinea.com/media/k2/items/cache/5948b589fbc5d8cfd808fff1c777583f_XL.jpg"
          alt=""
          class="scale-100"
        />
        <p>SMG</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://100seguro.com.ar/wp-content/uploads/2018/05/image001.jpg"
          alt=""
          class="scale-75"
        />
        <p>SWISS MEDICAL ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.asociart.com.ar/wp-content/uploads/2022/06/Logos-Asociart-05-Icono.png"
          alt=""
          class="scale-75"
        />
        <p>ASOCIART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.experta.com.ar//art/wp-content/uploads/sites/3/2019/07/group-2.png"
          alt=""
          class="scale-75"
        />
        <p>EXPERTA SEGUROS ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.galenoseguros.com.ar/seguros/images/logo_art.svg"
          alt=""
          class="scale-100"
        />
        <p>GALENO SEGUROS ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.fedpat.com.ar/wp-content/uploads/2024/04/Isologo-Azul-FP.png"
          alt=""
          class="scale-100"
        />
        <p>FEDERACION PATRONAL</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://acg.com.ar/wp-content/uploads/2022/09/acg_logo-1.png"
          alt=""
          class="scale-100"
        />
        <p>ACG</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.seguros.com/wp-content/uploads/chubb_v4-1.png"
          alt=""
          class="scale-100"
        />
        <p>CHUBB</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://tiempodeseguros.com/storage/app/media/fianzas%20y%20credito.png"
          alt=""
          class="scale-110"
        />
        <p>FIANZAS Y CREDITO</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://play-lh.googleusercontent.com/jpttE_U6W4e_ltsyqeVNLI_AubJhuLRNC7rTVN-HdCGfkBi1SCJrZYbpBo2uXR3FZD4=w600-h300-pc0xffffff-pd"
          alt=""
          class="scale-100"
        />
        <p>LA HOLANDO</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img src={iam.src} alt="" class="scale-100" />
        <p>INSTITUTO ASEGURADOR MERCANTIL</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://cofatuc.org.ar/wordpress/wp-content/uploads/2022/08/provincia-art-portada.jpg"
          alt=""
          class="scale-110"
        />
        <p>PROVINCIA ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.todoriesgo.com.ar/wp-content/uploads/2020/09/provincia-seguros-expoagro.png"
          alt=""
          class="scale-100"
        />
        <p>PROVINCIA SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://segurodebici.com.ar/wp-content/uploads/2021/05/Prudencia-Seguros.png"
          alt=""
          class="scale-100"
        />
        <p>PRUDENCIA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://freseniusmedicalcare.com.ar/wp-content/uploads/2024/05/sancor-seguros-ceibo-proteccion-completa-para-tu-tranquilidad.png"
          alt=""
          class="scale-100"
        />
        <p>SANCOR SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img src={testi.src} alt="" class="scale-110" />
        <p>TESTIMONIO SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://100seguro.com.ar/wp-content/uploads/2021/10/allianz-1.jpg"
          alt=""
          class="scale-100"
        />
        <p>ALLIANZ</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://reclamodeterceros.com/wp-content/uploads/2023/04/Mercantil-Andina-Reclamo-de-Terceros-1-1.webp"
          alt=""
          class="scale-100"
        />
        <p>MERCANTIL ANDINA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://norteenlinea.com/media/k2/items/cache/5948b589fbc5d8cfd808fff1c777583f_XL.jpg"
          alt=""
          class="scale-100"
        />
        <p>SMG</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://100seguro.com.ar/wp-content/uploads/2018/05/image001.jpg"
          alt=""
          class="scale-75"
        />
        <p>SWISS MEDICAL ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.asociart.com.ar/wp-content/uploads/2022/06/Logos-Asociart-05-Icono.png"
          alt=""
          class="scale-75"
        />
        <p>ASOCIART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.experta.com.ar//art/wp-content/uploads/sites/3/2019/07/group-2.png"
          alt=""
          class="scale-75"
        />
        <p>EXPERTA SEGUROS ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.galenoseguros.com.ar/seguros/images/logo_art.svg"
          alt=""
          class="scale-100"
        />
        <p>GALENO SEGUROS ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.fedpat.com.ar/wp-content/uploads/2024/04/Isologo-Azul-FP.png"
          alt=""
          class="scale-100"
        />
        <p>FEDERACION PATRONAL</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://acg.com.ar/wp-content/uploads/2022/09/acg_logo-1.png"
          alt=""
          class="scale-100"
        />
        <p>ACG</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.seguros.com/wp-content/uploads/chubb_v4-1.png"
          alt=""
          class="scale-100"
        />
        <p>CHUBB</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://tiempodeseguros.com/storage/app/media/fianzas%20y%20credito.png"
          alt=""
          class="scale-110"
        />
        <p>FIANZAS Y CREDITO</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://play-lh.googleusercontent.com/jpttE_U6W4e_ltsyqeVNLI_AubJhuLRNC7rTVN-HdCGfkBi1SCJrZYbpBo2uXR3FZD4=w600-h300-pc0xffffff-pd"
          alt=""
          class="scale-100"
        />
        <p>LA HOLANDO</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img src={iam.src} alt="" class="scale-100" />
        <p>INSTITUTO ASEGURADOR MERCANTIL</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://cofatuc.org.ar/wordpress/wp-content/uploads/2022/08/provincia-art-portada.jpg"
          alt=""
          class="scale-110"
        />
        <p>PROVINCIA ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.todoriesgo.com.ar/wp-content/uploads/2020/09/provincia-seguros-expoagro.png"
          alt=""
          class="scale-100"
        />
        <p>PROVINCIA SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://segurodebici.com.ar/wp-content/uploads/2021/05/Prudencia-Seguros.png"
          alt=""
          class="scale-100"
        />
        <p>PRUDENCIA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://freseniusmedicalcare.com.ar/wp-content/uploads/2024/05/sancor-seguros-ceibo-proteccion-completa-para-tu-tranquilidad.png"
          alt=""
          class="scale-100"
        />
        <p>SANCOR SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img src={testi.src} alt="" class="scale-110" />
        <p>TESTIMONIO SEGUROS</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://100seguro.com.ar/wp-content/uploads/2021/10/allianz-1.jpg"
          alt=""
          class="scale-100"
        />
        <p>ALLIANZ</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://reclamodeterceros.com/wp-content/uploads/2023/04/Mercantil-Andina-Reclamo-de-Terceros-1-1.webp"
          alt=""
          class="scale-100"
        />
        <p>MERCANTIL ANDINA</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.swissmedical.com.ar/smgnewsite/images/otherimg/navbar/smgart.png"
          alt=""
          class="scale-100"
        />
        <p>SMG</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://100seguro.com.ar/wp-content/uploads/2018/05/image001.jpg"
          alt=""
          class="scale-75"
        />
        <p>SWISS MEDICAL ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.asociart.com.ar/wp-content/uploads/2022/06/Logos-Asociart-05-Icono.png"
          alt=""
          class="scale-75"
        />
        <p>ASOCIART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.experta.com.ar//art/wp-content/uploads/sites/3/2019/07/group-2.png"
          alt=""
          class="scale-75"
        />
        <p>EXPERTA SEGUROS ART</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <img
          src="https://www.galenoseguros.com.ar/seguros/images/logo_art.svg"
          alt=""
          class="scale-100"
        />
        <p>GALENO SEGUROS ART</p>
      </div>
    </div>
  </div>
</div>
<hr class="w-[70%] mx-auto border-t mb-10" />

<style>
  img {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }
  .slide {
    min-width: 200px; /* Asegúrate de que los slides tengan un ancho mínimo */
    animation: scroll 180s linear infinite;
  }
  .slide-track {
    display: flex;
    gap: 3em;
    overflow: hidden;
  }

  .slider {
    background-color: #ffffff;
    padding: 4em 2em 8em 2em;
  }

  .content {
    text-align: center;
  }

  p {
    margin-top: 0.5em;
    font-size: 14px;
    color: #333;
  }

  @keyframes scroll {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translatex(-6000%);
    }
  }
</style>
